<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <button mat-fab><mat-icon>home</mat-icon></button>
</div>

<div style="text-align:center">
  <h1>
    Welcome to ci-droid!
  </h1>

  <mat-form-field hintLabel="Max 10 character ">
    <input matInput #input maxlength="10" placeholder="Enter some input">
    <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
  </mat-form-field><br/>
  <mat-form-field hintLabel="Max 10 character ">
    <input matInput #input maxlength="10" placeholder="Enter some input">
    <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
  </mat-form-field><br/>
  <mat-form-field hintLabel="Max 10 character ">
    <input matInput #input maxlength="10" placeholder="Enter some input">
    <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
  </mat-form-field><br/>
  <br>

  <label>Float label: </label>
    <mat-radio-group formControlName="floatLabel">
    <mat-radio-button value="auto">Auto</mat-radio-button>
    <mat-radio-button value="always">Always</mat-radio-button>
    <mat-radio-button value="never">Never</mat-radio-button>
  </mat-radio-group><br/>
  <br>
  <br>

  <br>
  <button mat-fab>Submit!</button>

</div>
<app-ci-form></app-ci-form>

