<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <button mat-fab><mat-icon>home</mat-icon></button>
</div>

<div style="text-align:center">
  <h1>
    Welcome to ci-droid!
  </h1>

  <mat-form-field hintLabel="Max 10 character ">
    <input matInput #input maxlength="10" placeholder="Enter some input">
    <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
  </mat-form-field><br/>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field><br/>
  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Rahul</mat-option>
      <mat-option value="option">Naveen</mat-option>
      <mat-option value="option">Sandeep</mat-option>
    </mat-select>
  </mat-form-field><br/>
  <label>Float label: </label>
    <mat-radio-group formControlName="floatLabel">
    <mat-radio-button value="auto">Auto</mat-radio-button>
    <mat-radio-button value="always">Always</mat-radio-button>
    <mat-radio-button value="never">Never</mat-radio-button>
  </mat-radio-group><br/>
  <br>
  <br>

  <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" (change)="fileChangeListener($event)" accept=".csv" />
  <br>
  <br>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z10" align="center" width="500">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> FirstName </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> LastName </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef> UserName </th>
      <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Password </th>
      <td mat-cell *matCellDef="let element"> {{element.password}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
  <br>
  <br>
  <button mat-fab>Submit!</button>

</div>

